body {
  text-align: center;
  
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}
#colorPicker{
   position: absolute;
}
#erasePicker{
  font-size:30px;
  background-color: green;
  min-width: 25%;
  position: absolute;
  right:10%;
 flex-direction: row;
 flex-grow: 1;
 display:none;
  

  
}
input[type="radio"], label{
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #999;
  
}

tr {
  height: 30px;
}

td {
  width: 30px;
}

input[type="number"] {
  width: 6em;
}

